@model Tuple<List<Speciality>, List<Doctor>>
@{
    ViewData["Title"] = "Home Page";
}
        <label>Speciality:</label>
        <select id="specialities-list">
            <option value="">All</option>
            @foreach (var speciality in Model.Item1) {
                <option value="">@speciality.Name</option>
            }
        </select>
        @foreach (var doctor in Model.Item2){
            <div> 
                <h1>@doctor.Name</h1> 
                
            </div>
        }

